* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

p {
  font-size: 16px;
  line-height: 26px;
}

label {
  font-size: 14px;
  line-height: 26px;
}

h2 {
  font-size: 58px;
  line-height: 70px;
}

h3 {
  font-size: 42px;
  line-height: 52px;
}

h5 {
  font-size: 22px;
  line-height: 32px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
}

article {
  color: var(--gray);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

button {
  cursor: pointer;
}

:root {
  --purple: #1e0e62;
  --lightpurple: #482be7;
  --gray: #15143966;
  --lightgreen: #25dac5;
  --pink: #e93a7d;
  --white: #ffffff;
  --darkblue: #252b42;
  --gold: #f5a200;
}

/* Header Class */
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
  margin-top: 12px;
}

.header__title {
  font-size: 24px;
  line-height: 31.25px;
  font-weight: 600;
}

.header__title a {
  text-decoration: none;
  color: var(--purple);
}

.header__navs {
  display: flex;
  column-gap: 50px;
  font-size: 16px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }

  .header__navs {
    column-gap: 30px;
  }
}

nav a {
  text-decoration: none;
  color: var(--gray);
}

/* -- should have section css styles here --  disregard*/

.section__login,
.section__signup {
  border: none;
  padding: 7px 18px;
  font-size: 18px;
}

.section__login {
  color: var(--lightgreen);
  background: none;
}

.section__login a,
.section__signup a {
  text-decoration: none;
}

.section__signup {
  background-color: var(--lightgreen);
  color: var(--white);
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .section {
    margin-top: 20px;
  }
}

.active {
  border-bottom: 2px solid;
  border-color: var(--lightgreen);
  color: var(--lightgreen);
}
/* 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!THIS IS A TEST UNDER ALL OF THIS */

/* Content Styles */
/* .content {
  margin: 0 auto;
  max-width: 714px;
  text-align: center;
}

.content__title {
  color: var(--purple);
}

.content__desc {
  color: var(--gray);
}

.content__create-btn {
  background-color: var(--pink);
  color: var(--white);
  padding: 17px 45px;
  font-size: 20px;
  line-height: 26px;
  border: none;
  border-radius: 100px;
  margin-top: 59px;
}

/* Features Class Styles  */
/* .features {
  display: flex;
  margin-top: 111px;
  margin-bottom: 200px;
}

.features__container {
  width: 100%;
  border-right: 2px solid;
  border-color: var(--gray);
  height: 120px;
}

/* modifier display:flex */
/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__container:last-of-type {
  border: none;
}

@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .features__container {
    margin-bottom: 150px;
    border: none;
  }
}

.container__img {
  max-width: 200px;
  width: 100%;
  display: block;
}

.container__info {
  margin-top: 20px;
  width: 230px;
  text-align: center;
}
.prices {
  text-align: center;
}
.prices__title {
  color: var(--purple);
}
.prices__desc {
  color: var(--gray);
}

.price-table {
  margin: 0 auto;
  border: 2px solid;
  border-color: var(--gray);
}

th,
td {
  border: 2px solid;
  border-color: var(--gray);
  padding: 18px;
  color: var(--purple);
}

th {
  padding: 60px;
}

.no__border {
  border: none;
}

.price button {
  width: 150px;
  height: 50px;
  background: none;
  border: 2px solid;
  border-color: var(--gray);
  border-radius: 30px;
  color: var(--purple);
  font-size: 18px;
  line-height: 26px;
}

.price button:hover {
  background-color: var(--lightgreen);
  border: none;
}

.tour {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  column-gap: 130px;
}

.aside {
  max-width: 531px;
  width: 100%;
}

.aside__title {
  color: var(--purple);
}
.aside__btn {
  background-color: var(--lightpurple);
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  padding: 17px 33px;
  color: var(--white);
  border-radius: 30px;
  border: none;
  margin-top: 52px;
} */
