/* Content Styles */
.content {
  margin: 0 auto;
  max-width: 714px;
  text-align: center;
}

.content__title {
  color: var(--purple);
}

.content__desc {
  color: var(--gray);
}

.content__create-btn {
  background-color: var(--pink);
  color: var(--white);
  padding: 17px 45px;
  font-size: 20px;
  line-height: 26px;
  border: none;
  border-radius: 100px;
  margin-top: 59px;
}

/* Features Class Styles  */
.features {
  display: flex;
  margin-top: 111px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 200px;
}

.features::-webkit-scrollbar {
  width: 12px;
}
.features::-webkit-scrollbar-track {
  background: var(--lightpurple);
}
.features::-webkit-scrollbar-thumb {
  background: var(--lightpurple);
}
.features::-webkit-scrollbar-thumb:hover {
  background: var(--purple);
}
.features::-webkit-scrollbar-button {
  display: none;
}

.features__container {
  width: 100%;
  border-right: 2px solid;
  border-color: var(--gray);
  height: 120px;
  width: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__container:last-of-type {
  border: none;
}

@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .features__container {
    margin-bottom: 150px;
    border: none;
  }
}

.container__img {
  max-width: 200px;
  width: 100%;
  display: block;
}

.container__info {
  margin-top: 20px;
  width: 230px;
  text-align: center;
}
