.prices {
  text-align: center;
}
.prices__title {
  color: var(--purple);
}
.prices__desc {
  color: var(--gray);
}

.table {
  display: flex;
}

.table__container {
  padding: 100px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .table {
    display: block;
  }

  .table__container {
    border-bottom: 2px solid;
    border-color: var(--lightpurple);
    padding: 0;
    margin-top: 100px;
  }
}

.box {
  border-radius: 10px;
  padding: 41px 55px 43px 48px;
  text-align: center;
  background-color: var(--purple);
  color: var(--white);
}

.box__label {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
}

.box__fee {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 28px;
  white-space: nowrap;
}

.box__desc {
  font-weight: 400;
  max-width: 257px;
  margin: 0 auto;
}

.description {
  margin: 0 auto;
  max-width: 230px;
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .description {
    margin-bottom: 100px;
  }
  .box__fee {
    /* flex-direction: column; */
    display: block;
  }

  .fee h2,
  .box__label {
    color: var(--gold);
  }

  .fee__desc {
    margin-top: -28px;
  }
}

.description__item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--gray);
}

.description__button {
  border: 1px solid;
  border-color: var(--gray);
  color: var(--purple);
  border-radius: 18px;
  margin-top: 30px;
  background-color: var(--white);
  padding: 12px 38px;
  font-size: 18px;
  line-height: 26px;
  white-space: nowrap;
  text-align: center;
}

.description__button:hover {
  background-color: var(--lightgreen);
  color: var(--white);
  border-color: var(--lightgreen);
}

.item__checkmark {
  color: var(--lightgreen);
}

.hidden {
  visibility: hidden;
}

.hidden + p {
  opacity: 60%;
}

.payment {
  margin: 0 auto;
  max-width: 768px;
  display: none;
}

.payment__chosenplan {
  text-align: center;
  color: var(--darkblue);
  font-weight: 600;
}

.payment__back-btn {
  font-size: 14px;
  color: var(--gray);
  font-weight: 800;
  cursor: pointer;
  color: var(--gold);
}

.payment__back-btn:hover {
  color: red;
}
.payment__title {
  text-align: center;
  color: var(--purple);
}

.paypal,
.credit {
  padding: 60px;
  border-radius: 18px;
  border: 2px solid;
  border-color: var(--gray);
  margin: 20px;
  position: relative;
  cursor: pointer;
}

.title {
  display: inline-block;
  color: var(--purple);
}

.info {
  color: var(--gray);
  font-weight: 500;
}

.checkout {
  padding: 13px 25px;
  background-color: var(--lightgreen);
  border: none;
  border-radius: 20px;
  color: var(--white);
  font-size: 18px;
  display: inline-block;
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.table.availed {
  display: none;
}

.payment.availed {
  display: block;
}

.credit__credentials {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
  row-gap: 12px;
  align-items: center;
  padding: 20px;
}

.credentials__label {
  font-size: 16px;
  white-space: nowrap;

  line-height: 26px;
  letter-spacing: 2px;
  color: var(--purple);
  font-weight: 800;
}

.credentials__number,
.credentialst__name {
  width: 100%;
}

.credentials__date {
  width: 100%;
}

.credentials__cvv {
  width: 100%;
}

.inputs {
  font-size: 16px;
  padding: 10px;
  color: var(--darkblue);
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--gray);
}

.email {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .credit__credentials {
    display: block;
  }

  .email {
    margin-bottom: 20px;
    width: 100%;
  }
}

.chosen.paypal,
.chosen.credit {
  background-color: var(--lightgreen);
}

.chosen.checkout {
  background-color: var(--purple);
}

.chosen .checkout:hover {
  background-color: green;
}
